<settings>
    <proxies>
        <proxy>
            <id>tor-proxy</id>
            <active>true</active>
            <protocol>socks5</protocol>
            <host>127.0.0.1</host>
            <port>9150</port>
            <username></username>
            <password></password>
            <nonProxyHosts></nonProxyHosts>
        </proxy>
    </proxies>
</settings>
